@using XstReader
@using XstReader.App.Common
@using XstReader.ElementProperties
@using XstReader.Razor.Templates

@model XstAttachment

@{
    XstAttachment Attachment = Model;
    XstExportOptions Options = RenderOptions.ExportOptions;

    if (Attachment!=null)
    {
        if(Options.ShowDetails)
        {
            <a href="#@Attachment.ContentId"> @(Attachment.DisplayName?? Attachment.FileName)</a>
        }
        else
        {
            @(Attachment.DisplayName?? Attachment.FileName)
        }

        if (Attachment.Size > 1000000)
            @($" ({Attachment.Size / 1000000}Mb)")
        else if (Attachment.Size > 1000)
            @($" ({Attachment.Size / 1000}Kb)")
        else
            @($" ({Attachment.Size}b)")
    }
}