@using XstReader
@using XstReader.App.Common
@using XstReader.Razor.Templates

@model XstRecipient

@{
    XstRecipient Recipient = Model;
    XstExportOptions Options = RenderOptions.ExportOptions;


    if(Recipient!=null)
    {
        if(Options.ShowDetails)
        {
            <a href="#@Recipient.GetIdWithType()">@Recipient.DisplayName</a>
        }
        else
        {
            @Recipient.DisplayName
        }
        
        if(!string.IsNullOrEmpty(Recipient.Address))
        {
            <i>@("<")<a href="mailto:@Recipient.Address">@($"{Recipient.Address}")</a>@(">")</i>
        }
    }
}